# VS Code settings
.vscode/

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints