youtube-transcript-api
langchain-community
faiss-cpu
tiktoken
python-dotenv

transformers

langchain-huggingface
transformers
huggingface-hub

streamlit
langchain
langchain-core
langchain-text-splitters

pytube
sentence-transformers